/* ~~~~~~~~~~~~~~~ BEGIN FLASK CSS ~~~~~~~~~~~~~~~~~~ */
body {
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

header {
  justify-content: space-between;
  /* Items are evenly distributed in 
     the line; firstitem is on the 
     start line, last item on the 
     end line*/
  align-items: center;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 1;
}

.header_logo{
  height: 53px;
  padding: 0px 0px !important;
}
header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #8842d5;
}

header li {
  display: inline-flex;
}

header li a {
  display: block;
  color: white;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
}
header li a:hover {
  background-color: #7300ff;
}
header .search{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 25px;
}

header .search input, input:focus {
  display: block;
  background-color: #8842d5;
  color: white;
  padding-top: 7px;
  text-decoration: none;
  border:none;
}

header .search input::placeholder{
  color:#ffb6e1;
  font-weight: bold;
}

#content {
  position: absolute;
  top: 53px;
}
#flash{
  z-index: 99;
}


.MenuContainer{
  position: absolute;
  top: 53px;
  right: 0px;
}
.MenuContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #42d0d5;
}
.MenuContainer li a {
  display: block;
  color: white;
  text-align: left;
  width: 75px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}
.MenuContainer li a:hover {
  background-color: #00f7ff;
}
.MenuContainer .all_cinemas_button{
  font-weight: bold;
  border-bottom: #fff 1px solid;
}


.TableContainer{
  border-right: #8842d5 3px solid;
  height:50vh;
  width: auto;
  overflow: hidden;
  margin-right: 75px;
}
.TableContainer:hover{
  overflow-y:auto;
}
.KontrollblattContainer{
  border-top: #8842d5 3px solid;
  height: 40vh;
  bottom:0px
}

.divTable{
  display:table;
  width: 100vw;
}
.divTableRow{
  display: table-row;
}
.divTableRow:nth-child(even){
  background-color: #fff0f9;
}
.divTableCell{
  display: table-cell;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid rgba(225, 0, 255, 0.25);
  border-right: 1px solid rgba(255, 0, 242, 0.25);
}

/*CSS for Screening*/
.dauer {
  text-align: right;
}
/* ~~~~~~~~~~~~ END FLASK CSS ~~~~~~~~~~~~~~~~ */


/*Inspection Liste*/

.header_box {
	width: 1.5%;
}

.header_first_screening {
	width: 9%;
}

.header_artikel {
	width: 2%;
}

.header_kasch {
	width: 4%;
}
.header_min {
	width: 3%;
}
.screening_min {
	text-align: right;
}
.header_title1 {
}

.header_title2 {
	width: 15%;
}

.header_cpl {
}


/* Screenings Liste */
.screening_liste{
}

.screening_today{
  background-color: #f0eaf7;
}
.colored_cell {
  width: 1.2em;
  border: 1px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: white !important;
}
.red {
  background-color: rgb(246, 94, 56);
  color: rgb(246, 94, 56);
}
.lime {
  background: #b3fa00;
  color: #b3fa00;
}

.not_blue {
	font-family: "Segoe UI Symbol" !important;
	border: none !important;
}
.blue {
	font-family: "Segoe UI Symbol" !important;
	border: none !important;
  filter: grayscale(100%) invert(100%) opacity(60%);
}

.yellow {
  background: yellow;
  color: yellow;
}

.orange {
  background: #ffd26a;
  color: #ffd26a;
}
.white {
  background: white;
  color: white;
}

.dcp {
  color: #8B008B;
  font-weight: bold;
}

.film {
  color: #A9A9A9;
  font-weight: bold;
}

.prog {
  color: magenta;
  font-weight: bold;
}
.screening_button {
  width: 1.5em !important;
}
.screening_cbox {
  width: 1.2em;
}
.screening_time{
  width: 5.8em;
	text-align: center;
}
.screening_kino{
  width: 2em;
  font-size: 1em;
	text-align: center;
}
.screening_artikel{
  width: 3em;
  font-size: 0.7em;
	text-align: center;
}
.screening_titel{
  width: 25%;
	overflow: hidden;
}
.screening_titel2{
  width: 10%;
  font-size: 0.8em;
	padding-left: 5px !important;
}
.screening_cpl{
  font-size: 1em;
}
.screening_input{
  width: 100%;
}
.screening_fassung{
  width: 5%;
  font-size: 10px;
  text-align: right;
}

.greyed_out{
	border-color: transparent;
	opacity: 0.3;
	
}

.film_kontrollblatt{
/*  display: none;*/
}

/*analog Film Datasheet*/
.kontrollblatt_download{
}

.kontrollblatt_cell{
	cursor:pointer;
}

.kontrollblatt_download img {
	cursor:pointer;
	height: 600px;
	width: auto;
	max-width: unset;
}


/*download KDM Elements*/

.download_box{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 999;
	background: white;
	position:fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	 transform: translate(-50%,-50%);
	text-align-last: justify;
	border: 3px solid #eee5ff
}

#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.3);
}

.download_button{
	display: inline;
	width: auto;
	padding: 0.1em 0.7em;
	font-weight: bold;
}

.key_name{
	display: inline;
}

.close_button{
	padding: 2px;
	width: auto;
  position: absolute;
  right: -10px;
  top: -10px;
}

/*END download KDM Elements*/

.legende {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px;
    border-style: solid;
    padding: 10px;
}


/* Back To Top Link */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	bottom: 20px;
	background: #27AE61 url("/ayeaye/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*Menübuttons*/
.sort_menu:hover {
  font-weight: bold;
  background: #cce8fc;
}
.sort_menu {
  width: 100%;
}

/* Kontrollblatt */

@import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic');

* {
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font-family: Calibri, sans-serif !important;
  font-size: 100%;
}

.attention{
	font-weight: bold;
	color: red;
	padding-left: 5px;
	font-size: 20px;
}

.kontrollblatt{
  min-width: 1170px;
  max-width: 1350px;
  width: 70vw;
  display: table;
  table-layout: fixed;
  background-color: white;
  margin: 0 auto;
  border: 3px solid #eee5ff;
}

/*Einheit für FPS und GB*/
.unit{
	display: inline-block;
	font-size: 0.7em;
}

hr {
  border: 0px;
  
}

button {
  display: inline-block;
  background-color: #b8ffdb;
  padding: 0.1em 0.2em;
  border: 1px solid #47946d;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 100;
  color: black;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

.update_button {
  display: inline-block;
	background-color: #ff7373;
	padding: 0.1em 0.2em;
  border: 1px solid #933737;
	font-size: 0.7em;
  font-weight: 100;
  color: black;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}

.update_button:disabled {
  display: none;
}

button:hover {
  border-color: #6cd156;
}

#KontrollblattContainer input, textarea {
  
  margin: 0px;
  border: 1px dotted #34cfeb;
  padding: 3px 0px 0px 0px;
  background-color: #edf7fa;
  resize: none;
}

*:disabled {
  border: 1px;
  border-color: var(--gray-lighter);
/*	border-color:transparent;*/
  background-color: transparent;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a7c7d1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a7c7d1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a7c7d1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a7c7d1;
}

select {       /* Selectbox DropDown */
	appearance: none;
	text-align: center;
	text-align-last: center;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0px;
  border: 1px solid #34cfeb;
  background-color: #edf7fa;
}

.version{
	cursor: help;
	display: inline !important;
	vertical-align: top !important;
}

.checker-i, .checker-t {
  display: inline-block;
  position: relative;
  padding-left: 0px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checker-i input, .checker-t input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-i {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 14px;
  text-align: center;
}
.checkmark-t {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 14px;
  text-align: center;
}

/* On mouse-over, add a border */
.checker-i:hover input ~ .checkmark-i, .checker-t:hover input ~ .checkmark-t {
  border: 1px solid darkgray;
  color: white;
}

/* When the INGESTED checkbox is checked, change background */
.checker-i input:checked ~ .checkmark-i {
  background-color: #48efff;
  color: white;
}

/* When the TESTED checkbox is checked, change background */
.checker-t input:checked ~ .checkmark-t {
  background-color: #00b6cd;
  color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-i:after, .checkmark-t:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checker-i input:checked ~ .checkmark-i:after, .checker-t input:checked ~ .checkmark-t:after {
  display: block;
}

/* Style the checkmark/indicator */
.checker-i .checkmark-i:after, .checker-t .checkmark-t:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 14px;
  border: none;
}

.Tabelle {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: white;
}

.Q4Container {
  display: table;
  width: 100%;
}


.ScreeningsContainer {
  display: table;
  width: 90%;
  margin: 0 auto;
}

.PinkFassung {
  display: table;
  width: 100%;
  border: 4px solid pink;
	height: 14.2ex;
}

.PinkBild {
  display: table;
  width: 100%;
  border: 4px solid pink;
	height: 14.2ex;
}

.PinkTon {
  display: table;
  width: 100%;
  border: 4px solid pink;
	height: 14.2ex;
}

.Row {
  display: table-row;
}

.Cell {
  border: none;
  display: table-cell;
  padding: 1px;
  vertical-align: middle;
  white-space: nowrap;
}
.Celltitel2 { width: 87%; }
.Cellregie {
  width: 87%;
  padding-left: 5px;
	word-wrap: break-word !important; 
	white-space: normal !important;
}
.Cellfps {
  width: 6%;
  font-size: 0.8em;
  text-align: right;
}
.Celldcpsize {
  width: 7%;
  font-size: 0.8em;
  text-align: right;
}
.Cellplaylist { width: 30%; }
.ColA {
  width: 5%;
  padding: 0em 0.3em 0em 0.3em;
  }
.ColB { width: 95%; }
.ColC { width: 33.33%; }
.ColD {
  width: 33.33%;
  padding: 0em 1em 0em 1em;
  }
.ColE {
  width: 33.33%;
  padding-right: 0.5em;
  text-align: right;
  }
.CellUT {
  text-align: center;
}
.CellersterUT {
  font-size: 0.8em;
  text-align: center;
}
.CellersterTON {
  font-size: 0.8em;
  text-align: center;
}
.PinkMama {
  border: none;
  display: table-cell;
  padding: 1px 6px;
  vertical-align: top;
}

.Mama {
  border: none;
  display: table-cell;
  padding: 0px 0px;
}


.Q1 {
  border: none;
  display: table-cell;
  padding: 0px 0px;
  width: 65%;
}

.Q2 {
  border: none;
  display: table-cell;
  padding: 0px 0px;
}

.Q3 {
  border: none;
  display: table-cell;
  padding: 0px 0px;
  width: 65%;
}

.Q4 {
  border: none;
  display: table-cell;
  padding: 0px 0px;
  margin: 0 auto;
	vertical-align: top;
}

.filmid {
  width: 6%;
  font-size: 0.7em;
  vertical-align: bottom;
  padding-left: 0.3em;
  
}
.schiene {
  width: 54%;
  font-size: 0.7em;
  text-align: left;
  vertical-align: bottom;
}
.land {
  width: 100%;
  text-align: center;
  }
.jahr {
  width: 100%;
  text-align: center;
  }
.min {
  width: 100%;
  text-align: right;
  }
.artikel {
  width: 100%;
  border: none;
  font-size: 0.8em;
  font-weight: bold;
  float: right;
  text-align: right;
	margin-top: 0.9em;
}

.enc {
	font-family: "Segoe UI Symbol" !important;
  padding: 0em 0em 0em 0.5em;
  text-align: center;
  vertical-align: top;
	cursor: default;
}
.lockSVG {
  width: 18px;
  fill: red;
}

.titel1 {
  width: 100%;
  height: 1.2em;
  background-color: #e5f9ff;
  border: 2px solid #b6feff;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: bold;
}

.titel2 {
  width: 100%;
  height: 1.2em;
  font-size: 1.5em;
	margin-left: 0.15em;
}

.sprache {
  width: 100%;
  height: 1.8em;
  border: 1px solid #ffb6e1;
  background-color: #eee5ff;
  font-size: 0.8em;
  float: right;
  text-align: center;
}
.ut {
  display: inline-block;
  width: 7em;
  height: 1.8em;
  border: 1px solid #ffb6e1;
  background-color: #eee5ff;
  font-size: 0.8em;
  text-align: center;
}


.regie { width: 100%; }
.fps {
  width: 25px;
  font-size: 1em;
  text-align: center;
}
.dcpsize {
  width: 30px;
  font-size: 1em;
  text-align: right;
}

.cpl {
	padding-top: 0px !important;
  width: 98%;
  font-size: 1.1em;
  font-weight: bold;
	font-family: "DejaVu Sans Mono", monospace !important;
	letter-spacing: 0.05em;
	margin-left: 0.2em;
}

.playlist {
  width: 100%;
  font-weight: bold;
  color: #007733;
  }
.hinweise_rot {
  width: 100%;
  font-weight: bold;
  color: #BB6688;
  }
.hinweise_von_projektion {
  width: 100%;
  font-weight: bold;
  color: #0099cc;
  }
.datenbank { 
	width: 100%;
	word-wrap: break-word !important;
	white-space: normal !important;
}
.hinweise_von_noah { width: 100%; }

.presetDB {
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.kontrolle {
  width: 70%;
  text-align: right;
  
}
.fassung {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  float: center;
}

.ut_art {
  width: 100%;
  text-align: center;
  float: center;
}
.preset {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  float: center;
}
.kasch {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  float: center;
}
.tonformat {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  float: center;
}
.toninfo {
  width: 100%;
  text-align: center;
  float: center;
}
.ersterUTnach {
  width: 4em;
  text-align: center;
}
.ersterTONnach {
  width: 4em;
  text-align: center;
}

.screening_row{
  /*background: #fb8e8e;*/
}
.zeit { width: 100px; }
.cbox { width: 20px; }

.vol_sign { 
	font-size: 0.7em;
	color: gray;
}

.soundsetting { 
  width: 30px; 
  text-align: center;
}

.keySVG {
  max-width: 15px !important;
	font-family: "Segoe UI Symbol" !important;
	cursor: pointer;
}
.kdm {
	font-size: 0.7em;
}


.kdm_vonbis { 
  width: 70px; 
  font-size: 80%;
}

.add_screening {
  width: 100%;
}

.add_button {
  float: left;
}

.add_screening_id {
  width: 100%;
}

.add_kino {
  width: 100%;
}

.add_zeit {
  width: 100%;
}

.add_hinzu {
  width: 100%;
}

.kino_link {
	background-color: #fff4c9c4;
	color: #94a673;
	text-decoration: none;
	display: block;
	padding: 0.4em 0.1em;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #d5b67c;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0.2em 0em;
}

.kino_link:hover {
background-color: #fff;
color: #000;
border-left-width: 12px;
border-right-width: 12px;
border-color: #21b8c8;
transition: cubic-bezier(0,.72,1,1);
transition-duration: 0.2s;
}

.kino_link:active {
background-color: #000;
color: #acacac;
border-color: #195359;
}

/*Film Tabelle Index*/
.big_table tr,td{
	padding: 0px 2px 0px 2px !important;
}
.screening_date {
	font-size:0.8em;
}

/*item_cinemas*/
div.inline_flex {
	display: inline-flex;
}
