{% extends "base.html" %}>
{% block content %}
<div class="wrapper">
    <div id="film_table" class="TableContainer">
        {% block tabelle %}
        <div class="divTable">
            {% for film in films %}
            <div class="divTableRow">
                <div class="divTableCell">{{ film.medium }}</div>
                <div class="divTableCell">{{ film.schiene }}</div>
                <div class="divTableCell">{{ film.artikel or ''}}</div>
                <div class="divTableCell">
                    <a href="javascript://" onclick="Sijax.request('load_kontrollblatt', [{{film.filmid}}]);">
                        {{ film.titel1 }}
                    </a>
                </div>
                <div class="divTableCell">{{ film.min }}</div>
                <div class="divTableCell">{{ film.jahr }}</div>
                <div class="divTableCell">{{ film.preset }}</div>
                <div class="divTableCell">{{ film.fassung }}</div>
                <div class="divTableCell">{{ film.sprache }}</div>
                <div class="divTableCell">{{ film.untertitel }}</div>
                <div class="divTableCell">{{ film.enc }}</div>
                <div class="divTableCell">{{ film.kontrolle or ''}}</div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
    <div class="MenuContainer">
        {% block submenu %}
        <ul>
            <li><a href="">A</a></li>
            <li><a href="">B</a></li>
            <li><a href="">C</a></li>
        </ul>
        {% endblock %}
    </div>
</div>
<div id="kontrollblatt" class="KontrollblattContainer">
    <form class="filmdaten_form" method="POST" id="{{ 'form' ~ film.filmid }}">

        {# some invisible form fields that are required to define the update sequence categories (filmid, film) in case a kontrollblatt is updated. #}
        {% if film.show_in_screening != "" %}
            <input type="hidden" name="show_in_screening" value="{{film.show_in_screening}}">
        {% endif %}
    
        <input type="hidden" name="filmid" value="{{filmid}}">
        <input type="hidden" name="what" value="film">
    
        <div class="Top">
            <div class="Q1">
                <div class="Q1Container Tabelle">
                    <div class="Row">
                        {# buttons for edit and save #}
                        <div class="ColA Cell">
                            {# activate the controllblatt to make it editable, handled by noahs_js_functions.js #}
                            <button 
                                type="button" 
                                class="buttonEdit enableButton" 
                                onclick="setEditable('{{film.filmid }}')">&#9881;
                            </button>
                            {# this button then becomes the save/update button to send the new data to the backend #}
                            <input type="submit" 
                                class="buttonEdit submitButton vorfuhrer_filmedit disabled update_button" 
                                id="{{ 'submitButtonFilm' ~ film.filmid}}" 
                                value="&#10004;" 
                                disabled="disabled">
                        </div>
                        <div class="ColB Mama">
                            <div class="Tabelle">
                                <div class="Row">
                                    <div class="Cell filmid">
                                        {{ film.filmid }}
                                    </div>
                                    <div class="Cell schiene">
                                        {{ film.schiene }}
                                    </div>
                                    <div class="Cell">
                                        <input name="land" 
                                            type="text"
                                            class="disabled land" 
                                            placeholder="land" 
                                            value="{{film.land}}" 
                                            disabled="disabled">
                                    </div>
                                    <div class="Cell">
                                        <input name="jahr"
                                            type="text" 
                                            class="disabled jahr" 
                                            placeholder="jahr" 
                                            value="{{film.jahr}}" 
                                            disabled="disabled">
                                    </div>
                                    <div class="Cell">
                                        <input name="min"
                                            type="text"
                                            class="disabled min" 
                                            placeholder="min" 
                                            value="{{film.min}}" 
                                            title="max. 3 digits" 
                                            disabled="disabled" 
                                            pattern="\d{0,3}">&#39;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="Cell">
                            <input class="add_film artikel"
                                type="text"
                                disabled="disabled"
                                value="{{film.artikel}}">
                        </div>
                        <div class="Cell">
                            <input class="titel1 add_film"
                                type="text"
                                disabled="disabled"
                                value="{{film.titel1}}">
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="Cell">
                            {# here could also be Testpriorität #}
                            {% if film.premiere %}
                                <div class="attention" title="world premiere">!
                                </div> 
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                        <div class="Mama">
                            <div class="Tabelle">
                                <div class="Row">
                                    <div class="Cell Celltitel2">
                                        <input class="add_film titel2"
                                            disabled="disabled"
                                            value="{{film.titel2}}">
                                    </div>
                                    <div class="Cell">
                                        <input class="disabled sprache"
                                            type="text"
                                            name="sprache"
                                            value="{{film.sprache}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="Cell">
                            &nbsp;
                        </div>
                        <div class="Mama">
                            <div class="Tabelle">
                                <div class="Row">
                                    <div class="Cell Cellregie">
                                        {{film.regie}}
                                    </div>
                                    <div class="Cell Cellfps">
                                        <input name="fps"
                                            class="disabled fps"
                                            value="{{film.fps}}"
                                            title="max. 3 digits"
                                            pattern="\d{0,3}"
                                            disabled="disabled">
                                        <div class="unit">
                                            f/s
                                        </div>
                                    </div>
                                    <div class="Cell Celldcpsize">
                                        {{film_insert.SIZE}}&nbsp; GB
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    {# display film data #}
                    <div class="Row">
                        <div class="Cell enc">
                            {% if film.enc == 1 or film_insert.Enc == 1 %}
                                &#x1f512;
                            {% endif %}
                        </div>
                        <div class="Cell">
                            <textarea rows="" 
                                cols="" 
                                name="cpl"
                                class="disabled cpl"
                                form="{{ 'form' ~ film.filmid}}"
                                placeholder="cpl"
                                disabled>
                                {% if film.dcpname == '' %}
                                    {{film_insert.CPL}}
                                {% else %}
                                    {{film.dcpname}}
                                {% endif %}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="Q2">
                <div class="Q2Container Tabelle">
                    <div class="Row">
                        <div class="ColC Cell">
                        </div>
                        <div class="ColD Cell">
                            <input class="presetDB vorfuehrer_hide"
                                name="presetDB"
                                value="{{film.presetDB}}"
                                disabled="disabled">
                        </div>
                        <div class="ColE Cell">
                            <input title="{{film.last_edit_by ~ ' | ' ~ film.timestamp}}"
                                name="kontrolle"
                                class="disabled kontrolle"
                                placeholder="wer"
                                value="{{film.kontrolle}}"
                                disabled="disabled">
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="PinkMama">
                            <div class="PinkFassung">
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="fassung"
                                            class="disabled fassung"
                                            placeholder="fassung"
                                            value="{{film.fassung}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell CellUT">
                                        <input name="untertitel"
                                        class="disabled ut"
                                        placeholder="untertitel"
                                        value="{{film.untertitel}}"
                                        disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="ut_art"
                                            class="disabled ut_art"
                                            placeholder="ut art"
                                            value="{{film.ut_art}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="PinkMama">
                            <div class="PinkBild">
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="preset"
                                            class="disabled preset"
                                            placeholder="preset"
                                            value="{{film.preset}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="kasch"
                                        class="disabled kasch"
                                        placeholder="kasch"
                                        value="{{film.kasch}}"
                                        disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="PinkMama">
                            <div class="PinkTon">
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="tonformat"
                                            class="disabled tonformat"
                                            placeholder="tonformat"
                                            value="{{film.tonformat}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <input name="toninfo"
                                            class="disabled toninfo"
                                            placeholder="toninfo"
                                            value="{{film.toninfo}}"
                                            disabled="disabled">
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="Cell CellersterUT">
                            first sub after&nbsp;
                            <input name="ersterUTnach"
                                class="disabled ersterUTnach"
                                placeholder="ersterUTnach"
                                value="{{film.ersterUTnach}}"
                                disabled="disabled">
                        </div>
                        <div class="Cell">
                                    &nbsp;
                        </div>
                        <div class="Cell CellersterTON">
                            first sound after&nbsp;
                            <input name="ersterTONnach"
                                class="disabled ersterTONnach"
                                placeholder="ersterTONnach"
                                value="{{film.ersterTONnach}}"
                                disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="Bottom">
            <div class="Q3">
                <div class="Q3Container Tabelle">
                    <div class="Row">
                        <div class="ColA">
                            &nbsp;
                        </div>
                        <div class="ColB Mama">
                            <div class="Tabelle">
                                <div class="Row">
                                    <div class="Cell Cellplaylist">
                                        <textarea rows="5" 
                                            cols=""
                                            name="playlist"
                                            class="disabled playlist"
                                            form="{{ 'form' ~ film.filmid}}"
                                            placeholder="Playlist"
                                            disabled>
                                            {{film.playlist}}
                                        </textarea>
                                    </div>
                                    <div class="Mama">
                                        <div class="Tabelle">
                                            <div class="Row">
                                                <div class="Cell">
                                                    <textarea rows="2"
                                                        cols=""
                                                        name="hinweise_rot"
                                                        class="disabled hinweise_rot"
                                                        form="{{ 'form' ~ film.filmid}}"
                                                        placeholder="Notes from inspection"
                                                        disabled>
                                                        {{film.hinweise_rot}}
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="Row">
                                                <div class="Cell">
                                                    <textarea rows="2"
                                                        cols=""
                                                        name="hinweise_von_projektion"
                                                        class="vorfuhrer_filmedit hinweise_von_projektion"
                                                        form="{{ 'form' ~ film.filmid }}"
                                                        placeholder="Notes from projection"
                                                        disabled>
                                                        {{film.hinweise_von_projektion}}
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="Row">
                        <div class="Cell">
                            &nbsp;
                        </div>
                        <div class="Cell vorfuehrer_hide datenbank">
                            <textarea rows="2"
                                cols=""
                                name="datenbank"
                                class="disabled datenbank"
                                form="{{ 'form' ~ film.filmid}}"
                                placeholder="Notes from database"
                                disabled>
                                {{film.datenbank}}
                                </textarea>";
                        </div>
                    </div>
    
                    <div class="Row">
                        <div class="Cell vorfuehrer_hide">
                            {{film.Comment}}
                        </div>
                    </div>
                </div>
            </div>
    </form>
    
            <div class="Q4">
            {# Displays the list of screenings for $this film #}
                <div class="ScreeningsContainer">

                </div>
            </div>
        </div>
</div>
{% endblock %}